@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin-left: 30px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FF7276;
}

[id^=gifter]{
    text-align: left;

}

[id^=giftee] {
    text-align: right;
} 


#results-container{
    display: flex;
    flex-direction: column;
    width: 50%;

} 